nav.svelte-19unmo3.svelte-19unmo3 {
    background-color: #682699e6 !important;
    color: white !important
}

nav.svelte-19unmo3 a.svelte-19unmo3 {
    color: white !important
}

.get-started-text.svelte-15u8fuf {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787878db;
    font-size: 1.2em;
    position: relative;
    top: 20px;
    margin-bottom: 50px
}

.top-text.svelte-15u8fuf {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #787878db;
    font-size: 1.2em;
    position: relative;
    top: 0px;
    margin-bottom: 30px
}

@font-face {
    font-family: logoFont;
    src: url(/fonts/next.ttf)
}

.logo-title.svelte-15u8fuf {
    font-family: logoFont;
    font-size: 3em;
    color: #be3ebc91;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo-form-container.svelte-15u8fuf {
    position: relative;
    top: 100px
}

.app-is-ready-text.svelte-15u8fuf {
    color: #819dc2;
    text-align: center;
    font-size: 2em
}

@font-face {
    font-family: logoFont;
    src: url(/fonts/next.ttf)
}

.logo-title.svelte-18qr14f {
    font-family: logoFont;
    font-size: 3em;
    color: #be3ebc91;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo-form-container.svelte-18qr14f {
    position: relative;
    top: 100px
}

.get-started-text.svelte-egbk8o {
    text-align: center;
    font-size: 1.1em
}

.container.svelte-egbk8o {
    margin-top: 200px
}

h1.svelte-r5e5ng {
    color: #ff0040;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100
}

.selected.svelte-159wf83 {
    text-align: center !important;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
    line-height: 1;
    background-color: #8a0eff3b
}

input.svelte-159wf83 {
    font-size: 2em;
    color: grey;
    text-align: center
}

li.svelte-159wf83 {
    font-size: 2em;
    color: grey;
    text-align: center !important;
    width: 100%
}

.list-group-item.svelte-159wf83 {
    text-align: center !important
}
/*
button.svelte-159wf83 {
    background-color: #8f4089 !important;
    font-size: 1.5em;
    color: white !important;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px
}*/

/*button{
	    background-color: #8f4089 !important;
    font-size: 1.5em;
    color: white !important;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px
}*/

.input-group.svelte-159wf83 {
    height: 200px
}

.description.svelte-614ca1 {
    text-align: center !important;
    display: block
}

.selected.svelte-614ca1 {
    text-align: center !important;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
    line-height: 1;
    background-color: #8a0eff3b;
    margin: 0 auto
}

li.svelte-614ca1 {
    font-size: 2em;
    color: grey;
    text-align: center !important;
    margin: 0 auto
}

.list-group-item.svelte-614ca1 {
    text-align: center !important
}